.notFound {
    composes: flex-center from 'styles/scaffold.scss';
    flex-direction: column;
    font-size: 1.2rem;

    &Title {
        margin-bottom: var(--gap-20);
        font-size: 5rem;
        text-transform: uppercase;
    }

    &Text {
        margin-bottom: var(--gap-20);
    }

    &Image {
        @media (prefers-color-scheme: dark) {
            filter: invert(1);
        }
    }
}
