.lineChart {
    border: 1px solid var(--border);

    &Path {
        fill: none;
        stroke: var(--green);
        stroke-width: 1px;
    }

    &Axis line {
        stroke: var(--light-gray);
        stroke-width: 1px;
    }

    &Labels {
        text {
            font-size: 0.8rem;
            fill: var(--dark);
        }
    }
}
