.pageContainer {
    composes: container from 'styles/scaffold.scss';
}

.pageHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--accent-green);
    padding: var(--gap-10) 0;
    color: var(--light);
    z-index: 1;
}

.pageContent {
    margin-top: var(--gap-50);
}
