.pageContainer {
    composes: container from 'styles/scaffold.scss';
}

.pageHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    color: var(--light);
    background-color: var(--accent-green);

    &Wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        justify-content: space-between;
        padding: 8px var(--gap-10);
        cursor: pointer;
        max-width: var(--app-max-width);
        margin: 0 auto;
    }

    &Left {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    &Center {
        justify-self: center;
    }

    &Right {
        justify-self: end;
    }
}

.pageContent {
    margin-top: var(--gap-50);

    &WebView {
        margin-top: var(--gap-10);
    }
}
