.container {
    max-width: var(--app-max-width);
    margin: 0 auto 50px auto;
    padding: 0 10px;
}

.reportBody {
    margin-top: 50px;
}

.empty {
    composes: flexCenter from 'styles/scaffold.scss';
    min-height: 100vh;
}
