.barChart {
    &SvgWrapper {
        position: relative;
    }

    &Svg {
        background-color: var(--white);
        background-image: repeating-linear-gradient(var(--light-gray) 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, var(--light-gray) 0 1px, transparent 1px 100%);
    }

    &Rect {
        margin: 0 var(--gap-5);
        transition: height 0.3s ease;
    }

    &Line {
        display: block;
        position: absolute;
        width: 100%;
        border-bottom: 3px dashed var(--dark);
    }

    &Days {
        display: flex;
        align-items: center;
        margin-top: var(--gap-5);

        &Item {
            text-align: center;
            font-size: var(--font-small);
            color: var(--gray);
        }
    }
}
