.reportNavigation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: var(--gap-15);
    margin-top: var(--gap-25);

    &Link {
        composes: link from 'styles/scaffold.scss';
        text-align: center;
    }

    &Icon {
        margin-bottom: var(--gap-10);
        font-size: 1.5rem;
    }

    &Text {
        font-size: var(--font-small);
    }
}
