.accordion {
    &Header {
        cursor: pointer;
        display: block;
    }

    &Content {
        display: block;
        overflow: hidden;
        transition: max-height var(--animation-delay) cubic-bezier(1, 0, 1, 0);
        height: auto;
        max-height: 9999px;

        &Collapsed {
            max-height: 0;
            transition: max-height var(--animation-delay) cubic-bezier(0, 1, 0, 1);
        }
    }
}
