.reportTotal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    margin: 10px 0;
    padding: 0 15px 0 50px;
    font-size: var(--font-small);

    &Item {
        &Key {
            color: var(--gray);
            margin-bottom: 5px;
        }

        &:last-child & {
            &Key {
                text-align: right;
            }

            &Value {
                font-weight: var(--font-bold);
                text-align: right;
            }
        }
    }
}
