.day {
    composes: flex-center from 'styles/scaffold.scss';
    padding: 8px;
    color: var(--light);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    &Selected {
        background: var(--darken-green);
    }

    &Disabled {
        color: var(--light-gray);
        pointer-events: none;
    }

    &Today {
        color: var(--green);
        background: var(--white);
    }
}
