.tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: var(--gap-5);

    &Item {
        position: relative;
        padding: var(--gap-10) 0;
        overflow: hidden;
        color: var(--green);
        font-size: var(--font-small);
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        text-overflow: ellipsis;
        cursor: pointer;
        user-select: none;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background: var(--green);
            transition: width var(--animation-delay) var(--animation-type);
            content: '';
        }

        &:hover {
            cursor: pointer;
        }

        &Selected {
            &::after {
                width: 100%;
            }
        }
    }

    &Content {
        margin-top: var(--gap-15);
    }
}
