.reportFood {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border);
    padding: 10px 15px 0 50px;

    &Item {
        width: 100%;
        flex: 0 0 90%;

        &Total {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            margin: 10px 0;
            font-size: var(--font-small);
            color: var(--gray);
        }

        &Weight {
            margin-top: 5px;
            font-size: var(--font-small);
            color: var(--green);
        }

        &Kcal {
            flex: 0 0 10%;
            font-weight: var(--font-bold);
            text-align: right;
        }

        &Empty {
            font-size: var(--font-small);
            color: var(--gray);
            padding: 10px 10px 0 40px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}
