.reportSettings {
    &Title {
        margin-bottom: var(--gap-25);
        font-weight: var(--font-bold);
        font-size: 1.2rem;
    }

    &Error {
        max-width: 80%;
        margin-bottom: var(--gap-10);
        color: var(--red);
    }
}

.column {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-5) 0;
    cursor: pointer;

    &Checkbox {
        font-size: 1.2rem;
    }
}
