.month {
    &DayLabels {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-bottom: var(--gap-10);
        color: var(--light-gray);
        font-size: var(--font-small);
        text-align: center;
    }

    &Days {
        display: grid;
        grid-gap: var(--gap-5);
        grid-template-columns: repeat(7, 1fr);
    }
}
