.reportNavigation {
    margin-top: var(--gap-25);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-15);

    &Link {
        text-align: center;
        composes: link from 'styles/scaffold.scss';
    }

    &Icon {
        font-size: 1.5rem;
        margin-bottom: var(--gap-10);
    }

    &Text {
        font-size: var(--font-small);
    }
}
