.reportHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    text-align: center;
    background-color: var(--accent-green);
    padding: 5px 10px;
    color: var(--light);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
