.reportHeader {
    &Back {
        width: var(--gap-100);
        display: flex;
        justify-content: flex-start;
        margin-left: var(--gap-15);
    }

    &Date {
        cursor: pointer;

        &:after {
            display: inline-block;
            content: '▾';
            position: relative;
            top: 0;
            left: var(--gap-5);
            transform: rotate(0deg);
            transition: all 0.3s ease;
            transition-property: transform, top;
        }

        &Expanded {
            &:after {
                top: 3px;
                transform: rotate(180deg);
            }
        }
    }

    &User {
        width: var(--gap-100);
        color: var(--light-gray);
    }

    &Controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &DatePicker {
        margin-top: var(--gap-10);
        cursor: pointer;
        composes: flexCenter from 'styles/scaffold.scss';
    }

    &Overlay {
        z-index: 1;
    }
}
