.reportHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap-10);

    &Back {
        width: var(--gap-100);
        display: flex;
        justify-content: flex-start;
        font-size: 1.2rem;
    }

    &Date {
        cursor: pointer;

        &:after {
            display: inline-block;
            content: '▾';
            position: relative;
            top: 0;
            left: var(--gap-5);
            transform: rotate(0deg);
            transition: all 0.3s ease;
            transition-property: transform, top;
        }

        &Expanded {
            &:after {
                top: 3px;
                transform: rotate(180deg);
            }
        }
    }

    &User {
        color: var(--light-gray);
        width: var(--gap-100);
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &DatePicker {
        margin-top: var(--gap-10);
        composes: flexCenter from 'styles/scaffold.scss';
    }

    &Overlay {
        z-index: 1 !important;
    }
}
