.datePickerWrapper {
    display: flex;
    gap: var(--gap-20);
    align-items: center;
    justify-content: space-between;

    @media screen and (width <= 375px) {
        gap: var(--gap-5);
    }
}

.datePicker {
    margin-top: var(--gap-10);
    font-size: var(--font-small);
    background: var(--accent-green);
}
