.datePickerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-20);

    @media screen and (max-width: 375px) {
        gap: var(--gap-5);
    }
}

.datePicker {
    display: grid;
    justify-content: space-between;
    margin-top: var(--gap-10);
    grid-template-columns: repeat(1, 300px);
    font-size: var(--font-small);

    @media screen and (max-width: 375px) {
        grid-template-columns: repeat(1, 2var (--gap-50));
    }
}
