.datePickerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-20);

    @media screen and (max-width: 375px) {
        gap: var(--gap-5);
    }
}

.datePicker {
    margin-top: var(--gap-10);
    font-size: var(--font-small);
    background: var(--accent-green);
}
