.font {
    margin: var(--gap-15) 0;
    font-size: var(--font-small);
    line-height: 1.5rem;
}

.summary {
    composes: font;
    display: flex;
    justify-content: space-between;

    &PieChart {
        margin-right: var(--gap-10);
    }
}

.health {
    composes: font;
}

.daily {
    composes: font;
    display: flex;
    justify-content: space-between;

    &Title {
        margin-bottom: var(--gap-5);
        font-weight: bold;
        font-size: 1rem;
    }

    &Info {
        width: 70%;

        div {
            display: flex;
            justify-content: space-between;
        }

        &Bold {
            font-weight: bold;

            &Gray {
                color: var(--gray);
            }
        }

        &Percents {
            color: var(--gray);
            font-style: italic;
        }
    }

    &Cube {
        display: grid;
        grid-gap: 2px;
        grid-template-rows: repeat(10, 6px);
        grid-template-columns: repeat(10, 6px);
        margin-left: var(--gap-10);
        direction: rtl;

        &Item {
            background-color: var(--gray);

            &Filled {
                background-color: var(--green);
            }
        }
    }
}
