$border: calc(var(--border-radius) * 2);

.reportMeal {
    composes: mealCard from 'styles/scaffold.scss';

    &Header {
        &Prime {
            composes: mealCardHeader from 'styles/scaffold.scss';
            padding: var(--gap-10) var(--gap-15) 0 var(--gap-15);

            &Icon {
                composes: mealCardHeaderIcon from 'styles/scaffold.scss';
            }

            &Info {
                flex: 0 0 90%;
            }

            &Title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 30px;
                padding-bottom: var(--gap-10);
                border-bottom: 1px solid transparent;
                transition: border var(--animation-delay) var(--animation-type);

                &Kcal {
                    font-weight: bold;
                    text-align: right;
                }

                &KcalText {
                    color: var(--gray);
                    font-size: var(--font-small);
                }
            }
        }

        &Total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: calc(var(--gap-15) / 2) var(--gap-15) calc(var(--gap-15) / 2) var(--gap-50);
            color: var(--gray);
            font-size: var(--font-small);
            background-color: var(--background);
            border-radius: 0 0 $border $border;
            cursor: pointer;
            transition: background-color var(--animation-delay) var(--animation-type);

            &Items {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                width: 80%;
            }

            &Toggler {
                transform: rotate(180deg);
                transition: transform var(--animation-delay) var(--animation-type);
            }
        }

        &Expanded & {
            &Prime {
                &Title {
                    border-bottom: 1px solid var(--border);
                }
            }

            &Total {
                background-color: var(--white);

                &Toggler {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &Empty {
        margin-bottom: var(--gap-10);
        padding: 0 var(--gap-15) 0 var(--gap-50);
        color: var(--gray);
        font-size: var(--font-small);
    }
}
