.userItem {
    display: grid;
    grid-template-columns: 1fr minmax(0, 80px);
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--gap-15);
    padding: var(--gap-10);
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius);

    &Link {
        composes: link from 'styles/scaffold.scss';
        font-size: 1.2rem;
    }

    &Buttons {
        display: flex;
        gap: var(--gap-5);
    }
}

.users {
    margin: var(--gap-10) 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instructionsLink {
    composes: link from 'styles/scaffold.scss';
    display: block;
    margin-top: var(--gap-20);
}
