.reportHeader {
    &Date {
        &:after {
            display: inline-block;
            content: '▾';
            position: relative;
            top: 0;
            left: var(--gap-5);
            transform: rotate(0deg);
            transition: all var(--animation-default);
            transition-property: transform, top;
        }

        &Expanded {
            &:after {
                top: 3px;
                transform: rotate(180deg);
            }
        }
    }

    &DatePicker {
        margin: var(--gap-10);
    }

    &Overlay {
        z-index: 1 !important;
    }

    &Content {
        position: fixed;
        left: 0;
        right: 0;
        background: var(--accent-green);
    }
}
