.error {
    composes: flexCenter from 'styles/scaffold.scss';
    flex-direction: column;
    font-size: 1.2rem;

    &Title {
        font-weight: bold;
        margin-bottom: var(--gap-20);
    }

    &Text {
        margin-bottom: var(--gap-20);
    }
}
