.error {
    composes: flex-center from 'styles/scaffold.scss';
    flex-direction: column;
    font-size: 1.2rem;

    &Title {
        margin-bottom: var(--gap-20);
        font-weight: bold;
    }

    &Text {
        margin-bottom: var(--gap-20);
    }
}
