.reportFood {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border);
    padding: var(--gap-10) var(--gap-15) 0 var(--gap-50);

    &Item {
        width: 100%;
        flex: 0 0 90%;

        &Total {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            margin: var(--gap-10) 0;
            font-size: var(--font-small);
            color: var(--gray);
        }

        &Weight {
            margin-top: var(--gap-5);
            font-size: var(--font-small);
            color: var(--green);
        }

        &Kcal {
            flex: 0 0 10%;
            font-weight: var(--font-bold);
            text-align: right;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}
