.barChart {
    position: relative;

    &SvgWrapper {
        position: relative;
    }

    &Svg {
        background-color: var(--white);
        background-image: repeating-linear-gradient(var(--light-gray) 0 1px, transparent 1px 100%),
            repeating-linear-gradient(90deg, var(--light-gray) 0 1px, transparent 1px 100%);
        border: 1px solid var(--light-gray);
    }

    &Line {
        position: absolute;
        display: block;
        width: 100%;
        border-bottom: 3px dashed var(--dark);
    }

    &Labels {
        display: flex;
        align-items: center;
        margin-top: var(--gap-5);

        &Item {
            color: var(--gray);
            font-size: var(--font-small);
            text-align: center;
        }
    }

    &LabelsVertical {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &Item {
            color: var(--gray);
            font-size: var(--font-small);
            display: flex;

            &Line {
                border-top: 1px dashed var(--light-gray);
            }

            &Label {
                border-left: 1px solid var(--light-gray);
                padding-left: var(--gap-10);
            }

            &:last-child & {
                &Line {
                    border-top: 1px dashed transparent;
                }

                &Label {
                    display: none;
                }
            }
        }
    }
}
