$border: calc(var(--border-radius) * 2);

.reportMeal {
    background-color: var(--white);
    border-radius: $border;
    margin-bottom: 20px;
    box-shadow: 0 0 4px 4px var(--shadow-color);

    &Header {
        display: flex;
        justify-content: space-between;

        padding: 10px 15px 0 15px;

        &Icon {
            margin-top: 3px;
            font-size: 1.5rem;
        }

        &Info {
            flex: 0 0 90%;
        }

        &Title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            transition: border 0.3s ease;
            border-bottom: 1px solid transparent;

            &Kcal {
                font-weight: bold;
                text-align: right;
            }

            &KcalText {
                font-size: var(--font-small);
                color: var(--gray);
            }

            &Expanded {
                border-bottom: 1px solid var(--border);
            }
        }

        &Total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 15px 5px 50px;
            font-size: var(--font-small);
            color: var(--gray);
            background-color: var(--white);
            transition: background-color 0.3s ease;
            border-radius: 0 0 $border $border;

            &Collapsed {
                background-color: var(--background);
            }

            &Items {
                width: 80%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            }
        }
    }
}

.mealToggler {
    transition: transform 0.3s ease;
    transform: rotate(90deg);

    &Collapsed {
        transform: rotate(-90deg);
    }
}
