.pwaModal {
    --ios-bottom: 20px;

    min-height: 250px !important;

    &IsIos {
        position: relative;
        margin-bottom: var(--ios-bottom);
        border-radius: var(--gap-10) !important;

        &::after {
            position: fixed;
            bottom: calc(var(--ios-bottom) - 15px);
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -13px;
            border-top: solid 15px var(--white);
            border-right: solid 12px transparent;
            border-left: solid 12px transparent;
            content: '';
        }
    }

    &Wrapper {
        composes: flex-center from 'styles/scaffold.scss';
        position: relative;
        flex-direction: column;
        max-width: 60vh;
    }

    &Icon {
        width: 67px;
        height: 67px;
    }

    &Text {
        max-width: 70%;
        margin-top: 40px;
        text-align: center;

        &Title {
            font-size: 1.4rem;
            white-space: nowrap;
        }

        &SubTitle {
            margin-top: var(--gap-15);
            font-size: var(--font-small);
        }
    }

    &Buttons {
        margin: 45px 0;
    }

    &Ios {
        text-align: center;

        &Icon {
            color: var(--dark);
            font-size: 2rem;
        }
    }
}
