.reportSummary {
    line-height: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-small);

    &PieChart {
        margin-right: 20px;
    }
}

.reportHealth {
    margin-top: var(--gap-25);
}
