.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    &Wrapper {
        position: relative;
        width: 100%;

        margin-top: auto;
        min-height: 50vh;
        max-height: 95vh;
        background-color: var(--white);

        border-radius: var(--gap-10) var(--gap-10) 0 0;
        overflow-y: auto;
    }

    &Header {
        position: sticky;
        top: 0;
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--gap-15);

        &Icon {
            cursor: pointer;
            background-color: transparent;
            color: var(--dark);
        }
    }

    &Title {
        font-size: 1.2rem;
    }

    &Content {
        padding: 0 var(--gap-15);
        overflow-y: auto;
    }
}
