.reportHeader {
    &Date {
        white-space: nowrap;

        &::after {
            position: relative;
            top: 0;
            left: var(--gap-5);
            display: inline-block;
            transform: rotate(0deg);
            transition: all var(--animation-delay) var(--animation-type);
            transition-property: transform, top;
            content: '▾';
        }

        &Expanded {
            &::after {
                top: 3px;
                transform: rotate(180deg);
            }
        }
    }

    &DatePicker {
        max-width: var(--app-max-width);
        margin: 0 auto;
    }

    &Overlay {
        z-index: 1 !important;
    }

    &Content {
        position: fixed;
        right: 0;
        left: 0;
        background: var(--accent-green);
    }
}
