.day {
    text-align: center;
    color: var(--white);
    border-radius: 50%;
    padding: 12px 0;

    user-select: none;
    color: var(--light);

    &Selected {
        background: var(--darken-green);
    }

    &Disabled {
        pointer-events: none;
        color: #ccc;
    }
}
