.day {
    cursor: pointer;
    user-select: none;

    composes: flexCenter from 'styles/scaffold.scss';
    justify-self: end;

    border-radius: 50%;
    padding: 8px;
    color: var(--light);

    &Selected {
        background: var(--darken-green);
    }

    &Disabled {
        pointer-events: none;
        color: var(--light-gray);
    }

    &Today {
        background: var(--white);
        color: var(--dark);
    }
}
