.day {
    composes: flexCenter from 'styles/scaffold.scss';

    border-radius: 50%;
    padding: 12px;
    color: var(--light);

    &Selected {
        background: var(--darken-green);
    }

    &Disabled {
        pointer-events: none;
        color: var(--light-gray);
    }
}
