.userItem {
    display: block;
    margin: var(--gap-10) 0;
    font-size: 1.2rem;
    composes: link from 'styles/scaffold.scss';
}

.users {
    margin: var(--gap-10) 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
