.userItem {
    display: block;
    margin-bottom: var(--gap-15);
    font-size: 1.2rem;
    composes: link from 'styles/scaffold.scss';
    padding: var(--gap-10);
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius);
}

.users {
    margin: var(--gap-10) 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
