.container {
    composes: container from 'styles/scaffold.scss';
}

.userItem {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    composes: link from 'styles/scaffold.scss';
}

.users {
    margin: 10px 0;
}

.title {
    composes: flexCenter from 'styles/scaffold.scss';
    justify-content: space-between;
}
