.pieChart {
    display: flex;
    flex-direction: column;
    align-items: center;

    &CenterOuter {
        fill: var(--background);
    }

    &CenterInner {
        fill: transparent;
    }

    &Legend {
        margin-top: var(--gap-10);

        &Item {
            display: grid;
            grid-template-columns: 1fr var(--gap-10);
            align-items: center;

            &Text {
                text-align: right;
            }

            &Color {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-left: calc(var(--gap-10) / 2);
                border-radius: 50%;
            }
        }
    }
}
