.toggleSwitch {
    position: relative;

    &Wrapper {
        display: flex;
        align-items: center;
        gap: var(--gap-10);
    }

    &Text {
        font-size: var(--font-small);
        color: var(--gray);
    }

    &Checkbox {
        display: none;
    }

    &Label {
        width: 70px;
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 0 solid var(--gray);
        border-radius: var(--gap-20);
    }

    &Inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin var(--animation-delay) var(--animation-type);

        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: 30px;
            line-height: 30px;
            color: white;
            box-sizing: border-box;
            font-size: var(--font-small);
            font-size: 0.8em;
        }

        &:before {
            content: '';
            padding-left: var(--gap-10);
            background-color: var(--green);
            color: var(--white);
        }

        &::after {
            content: '';
            padding-right: var(--gap-10);
            background-color: var(--gray);
            color: var(--white);
            text-align: right;
        }

        &WithText {
            &:before {
                content: 'Вкл';
            }

            &::after {
                content: 'Выкл';
            }
        }
    }

    &Disabled {
        cursor: not-allowed;

        &:before,
        &:after {
            cursor: not-allowed;
        }
    }

    &Circle {
        display: block;
        width: 20px;
        margin: var(--gap-5);
        background: var(--white);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 40px;
        border: 0 solid var(--gray);
        border-radius: 50%;
        transition: all var(--animation-delay) var(--animation-type);
        transition-property: margin right;
    }

    &Checkbox:checked + &Label & {
        &Inner {
            margin-left: 0;
        }

        &Circle {
            right: 0px;
        }
    }
}
