.foodCard {
    composes: card from 'styles/scaffold.scss';

    &Title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: var(--gap-10);
    }

    &Item {
        composes: cardItem from 'styles/scaffold.scss';

        &:last-child {
            font-weight: bold;
        }
    }

    &Info {
        composes: cardInfo from 'styles/scaffold.scss';
    }
}
