.userSelector {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &Name {
        white-space: nowrap;
    }

    &Toggler {
        margin-left: var(--gap-5);
    }

    &Item {
        composes: link from 'styles/scaffold.scss';
        margin-bottom: var(--gap-10);
        padding: var(--gap-10);
        border: 1px solid var(--border);
        border-radius: var(--border-radius);
        cursor: pointer;
    }
}
