.foodCard {
    &Title {
        composes: card-title from 'styles/scaffold.scss';
    }

    &Item {
        composes: card-item from 'styles/scaffold.scss';

        &:last-child {
            font-weight: bold;
        }
    }

    &Info {
        composes: card-info from 'styles/scaffold.scss';
    }
}
