.foodCard {
    composes: card from 'styles/scaffold.scss';

    &Title {
        composes: cardTitle from 'styles/scaffold.scss';
    }

    &Item {
        composes: cardItem from 'styles/scaffold.scss';

        &:last-child {
            font-weight: bold;
        }
    }

    &Info {
        composes: cardInfo from 'styles/scaffold.scss';
    }
}
