.container {
    max-width: var(--app-max-width);
    margin: 0 auto 50px auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &Date {
        text-align: center;
        padding: 10px;
        color: var(--light);
        background-color: var(--accent-green);
    }
}

.report {
    margin-top: 50px;

    &Total {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        gap: 10px;
        margin: 10px 0;
        font-size: 0.8rem;

        &Key {
            color: var(--gray);
            margin-bottom: 5px;
        }
    }
}

.meal {
    background-color: var(--white);
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px 4px var(--shadowColor);

    &Header {
        display: flex;
        justify-content: space-between;

        &Icon {
            margin-top: 10px;
            flex: 0 0 10%;
            font-size: 1.5rem;
        }

        &Info {
            flex: 0 0 90%;
        }

        &Title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--border);

            &Kcal {
                font-weight: bold;
            }

            &KcalText {
                font-size: 0.7rem;
                color: var(--gray);
            }
        }

        &Total {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin: 10px 0;
            font-size: 0.8em;
            color: var(--gray);
            width: 80%;
        }
    }

    &Info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.food {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
    font-size: 0.9rem;
    padding: 10px 10px 0 40px;

    &Item {
        width: 80%;

        &Total {
            display: flex;
            gap: 10px;
            margin: 10px 0;
            font-size: 0.8rem;
            color: var(--gray);
            justify-content: space-between;
        }

        &Weight {
            margin-top: 6px;
            font-size: 0.8rem;
            color: var(--green);
        }

        &Kcal {
            font-weight: 500;
        }

        &Empty {
            font-size: 0.8rem;
            color: var(--gray);
            padding: 10px 10px 0 40px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.total {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 20px 0;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
