.reportHealth {
    composes: mealCard from 'styles/scaffold.scss';

    &Header {
        composes: mealCardHeader from 'styles/scaffold.scss';

        &Icon {
            composes: mealCardHeaderIcon from 'styles/scaffold.scss';
        }
    }

    &Content {
        font-size: var(--font-small);
        padding: var(--gap-10) var(--gap-15) var(--gap-10) var(--gap-50);
        border-top: 1px solid var(--border);

        &Item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            &Total {
                font-weight: bold;
            }
        }
    }
}
