:root {
    --app-max-width: 400px;
    --font-bold: 500;
    --font-normal: 1rem;
    --font-small: 0.9rem;
    --border-radius: 3px;
    --border-width: 6px;
    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-25: 25px;
    --gap-50: 50px;
    --gap-100: 100px;
    --background: #ececf4;
    --white: #fff;
    --dark: #272727;
    --light: #fff;
    --shadow-color: rgb(0 0 0 / 10%);
    --border: #e1e1e1;
    --accent-green: #259b23;
    --green: #269c24;
    --darken-green: #248f22;
    --gray: #959595;
    --light-gray: #dedede;
    --yellow: #ffff09;
    --red: #f03;
    --icon-color: var(--white);
    --animation-delay: 0.4s;
    --animation-type: ease;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #040c19;
        --white: #272727;
        --dark: #fff;
        --light: #fff;
        --border: #5f6170;
        --accent-green: #272f3c;
        --green: #13cb65;
        --darken-green: #248f22;
        --gray: #707070;
        --icon-color: var(--dark);
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--background);
}

input {
    &:disabled {
        background-color: #ccc;
        user-select: none;
        pointer-events: none;
    }
}
