:root {
    --app-max-width: 400px;

    --font-bold: 500;
    --font-small: 0.9rem;

    --border-radius: 3px;
    --border-width: 6px;

    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-25: 25px;
    --gap-50: 50px;
    --gap-100: 100px;

    --background: #ececf4;
    --white: #ffffff;
    --dark: #272727;
    --light: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.05);
    --border: #e1e1e1;
    --accent-green: #259b23;
    --green: #269c24;
    --darken-green: #248f22;
    --gray: #959595;
    --light-gray: #dedede;

    --icon-color: var(--white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #040c19;
        --white: #272727;
        --dark: #ffffff;
        --light: #ffffff;
        --shadow-color: rgba(0, 0, 0, 0.05);
        --border: #5f6170;
        --accent-green: #272f3c;
        --green: #13cb65;
        --darken-green: #248f22;
        --gray: #707070;

        --icon-color: var(--dark);
    }
}

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
    font-size: 16px;
}

input {
    &:disabled {
        background-color: #ccc;
        user-select: none;
        pointer-events: none;
    }
}
