.button {
    display: block;
    font-size: inherit;
    border-style: none;
    padding: var(--gap-10);
    color: var(--light);
    background-color: var(--accent-green);
    border-radius: var(--border-radius);
    cursor: pointer;

    &:focus-visible {
        color: var(--darken-gray);
    }
}

.link {
    cursor: pointer;
    color: var(--green);
    text-decoration: none;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: var(--app-max-width);
    margin: 0 auto var(--gap-50) auto;
    padding: 0 var(--gap-10);
}

.card {
    background-color: var(--white);
    padding: var(--gap-15);
    margin-bottom: var(--gap-25);
    border-radius: var(--border-radius);
    box-shadow: 0 0 var(--gap-5) var(--gap-5) var(--shadow-color);
}

.cardItem {
    &:first-child {
        font-size: var(--font-small);
        opacity: 0.8;
    }
}

.cardInfo {
    display: grid;
    justify-content: space-between;
    align-items: flex-end;
    grid-template-columns: 200px repeat(auto-fit, minmax(0, 1fr));
    padding: var(--gap-10) 0;
    grid-gap: var(--gap-5);

    > div {
        text-align: right;
    }

    > div:first-child {
        text-align: left;
    }
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: var(--gap-10);
}
