.snackBar {
    position: fixed;
    bottom: var(--gap-10);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 40px;
    animation: var(--animation-delay) ease forwards slide-up;

    &Inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 200px;
        padding: var(--gap-10);
        color: var(--white);
        background-color: var(--green);
        border-radius: var(--border-radius);
    }

    &Close {
        margin-top: var(--gap-5);
        margin-left: var(--gap-5);
        cursor: pointer;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(3rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
