.snackBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: var(--gap-10);
    width: 100vw;
    min-height: 40px;
    animation: var(--animation-delay) ease forwards slide-up;

    &Inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 200px;

        border-radius: var(--border-radius);
        color: var(--white);
        background-color: var(--green);
        padding: var(--gap-10);
    }

    &Close {
        cursor: pointer;
        margin-top: var(--gap-5);
        margin-left: var(--gap-5);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
